*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #9400D3; /* Màu nền đặc trưng của Spotify */
    color: white;
    height: 2000px;
}